<div class="flow-root md:px-6">
  <div class="pb-5 flex xl:block">
      <img
        class="inline-block rounded-md w-20 md:w-48"
        src="https://lh3.googleusercontent.com/a-/AOh14Gid6g0KGxKkenRR6Kzkuuqiz0t8SggtS0lUOONg=s576-p-rw-no"
        alt=""
      >
      <div class="mt-2 ml-4 xl:ml-0 max-w-xl text-sm text-gray-500">
        <h1 class="text-2xl mb-3 font-semibold text-gray-900">
          Yury Fedorov
        </h1>
        <p class="text-sm font-medium text-gray-500 group-hover:text-white">
          QA Engineer
        </p>
        <p class="text-sm font-medium text-gray-500 group-hover:text-white">
          Front-end (basics)
        </p>
        <div>
          <select disabled onChange="document.location.href=this.options[this.selectedIndex].value;" class="mt-8 opacity-25 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="/" selected>English</option>
            <option value="/ru/">Русский</option>
          </select>
        </div>
      </div>
  </div>
</div>

<!--GitHub: https://github.com/yurifyodorov/yurifyodorov.github.io -->

