<div class="flow-root md:px-6">
  <div class="pb-5 flex xl:block">
      <img
        class="inline-block rounded-md w-20 md:w-48"
        src="https://media-exp1.licdn.com/dms/image/C4E03AQHXXrHbSZnCQw/profile-displayphoto-shrink_800_800/0/1606066680212?e=1647475200&v=beta&t=SlZwID8_8VINVSQZ04tPiWdZsJq6_dPtkgkiCcbHayc"
        alt=""
      >
      <div class="mt-2 ml-4 xl:ml-0 max-w-xl text-sm text-gray-500">
        <h1 class="text-2xl mb-3 font-semibold text-gray-900">
          Федоров Юрий
        </h1>
        <p class="text-sm font-medium text-gray-500 group-hover:text-white">
          Frontend-разработчик
        </p>
        <p class="text-sm font-medium text-gray-500 group-hover:text-white">
          Тестировщик
        </p>
      </div>
  </div>
</div>

