<div class="flow-root md:px-6 mt-10">
  <div class="pb-5">
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Контакты</h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500">
        <ul role="list">
          <li class="py-2 flex">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5 rounded-full"
                 viewBox="0 0 20 20"
                 fill="gray"
            >
              <path
                d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
            </svg>
            <div class="ml-3">
              <a class="text-sm" href="tel:8-921-753-0295">+7 (921) 753-02-95</a>
            </div>
          </li>

          <li class="py-2 flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="gray"
            >
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
            </svg>
            <div class="ml-3">
              <a class="text-sm" href="mailto:yuri.inpost@gmail.com">yuri.inpost@gmail.com</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
