<div class="flow-root mt-16 mb-16 md:px-6">
  <div class="pb-5">
    <h3 class="text-3xl leading-6 font-medium text-gray-900">
      Training
    </h3>
  </div>
  <ul role="list" class="-mb-8 mt-12">
    <li>
      <div class="relative pb-14">
        <div class="relative flex items-start space-x-6">
          <div class="relative">
            <div class="h-20 w-20 rounded-full flex items-center justify-center bg-white">
              <img src="https://static.saas-support.com/uploaded/chat_widgets/2715/logo.png?1641888949087">
            </div>
          </div>
          <div class="min-w-0 flex-1">
            <div>
              <div class="text-sm">
                <a href="#" class="font-medium text-gray-900">Level UP - IT training courses</a>
              </div>
              <p class="mt-0.5 text-sm text-gray-500">
                October 2019 — February 2020
              </p>
            </div>
            <div class="mt-2 text-sm text-gray-700">
              <p>
                Completed a course on the program
                <a
                  class="text-blue-700"
                  href="https://levelp.ru/courses/veb-tekhnologii/web-developer/"
              >Fullstack-developer (JavaScript)</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="pl-0 md:pl-24">
    <img
      class="object-cover shadow-lg rounded-lg w-full"
      src="assets/images/level-up-certificate.jpeg"
      alt="">
  </div>
</div>
