<div class="flow-root md:px-6 md:mt-6">
  <div class="pb-5">
    <h3 class="text-3xl leading-6 font-medium text-gray-900">
      Навыки
    </h3>
    <div class="mt-12 max-w-xl text-sm text-gray-500">
      <ul>
        <li
          *ngFor="let skill of skills"
          class="mb-6"
        >

          <div class="flex justify-between mb-1">
            <span class="text-base font-medium text-gray-900">{{ skill.title }}</span>
          </div>
          <div class="w-full bg-gray-200 rounded-full h-2.5">
            <div
              class="bg-blue-600 h-2.5 rounded-full"
              [ngClass]="skill.pro  ? 'bg-green-600' : 'bg-blue-600'"
              [style.width.%]="skill.level"
            ></div>
          </div>
          <div class="badges mt-4">
            <span
              *ngFor="let item of skill.items"
              class="inline-flex items-center mb-1 mr-1 px-2 py-0.5 rounded text-xs font-medium bg-gray-100 text-gray-800">{{ item }}</span>
          </div>

        </li>
      </ul>



    </div>
  </div>
</div>
