<div>
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div *ngIf="!isShown" class="fixed inset-0 flex z-40 md:hidden" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>
    <div class="relative flex-1 flex flex-col max-w-xs w-full bg-indigo-700">
      <div class="absolute top-0 right-0 -mr-12 pt-2">
        <button (click)="toggleShow()" type="button" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
          <span class="sr-only">Close sidebar</span>
          <!-- Heroicon name: outline/x -->
          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="flex-shrink-0 flex border-t border-indigo-800 p-4">
        <a href="#" class="flex-shrink-0 w-full group block">
          <div class="flex items-center">
            <div>
              <img
                class="inline-block h-20 w-20 rounded-md"
                src="https://media-exp1.licdn.com/dms/image/C4E03AQHXXrHbSZnCQw/profile-displayphoto-shrink_800_800/0/1606066680212?e=1647475200&v=beta&t=SlZwID8_8VINVSQZ04tPiWdZsJq6_dPtkgkiCcbHayc"
                alt="">
            </div>
            <div class="ml-3">
              <p class="text-2xl font-medium text-white">
                Юрий Федоров
              </p>
              <p class="text-base font-medium text-indigo-200 group-hover:text-white">
                Frontend-разработчик
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="mt-5 px-4 space-y-1 text-white">
        SIDEBAR-MOB
      </div>

    </div>

    <div class="flex-shrink-0 w-14" aria-hidden="true">
      <!-- Force sidebar to shrink to fit close icon -->
    </div>
  </div>

  <!-- Static sidebar for desktop -->
  <div class="hidden md:flex md:w-96 md:flex-col md:fixed md:inset-y-0">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex-1 flex flex-col min-h-0 bg-indigo-700">
      <div class="flex-shrink-0 flex border-t border-indigo-800 p-8">
        <a href="#" class="flex-shrink-0 w-full group block">
          <div class="pl-4 mb-10">
            <img class="inline-block h-72 w-72 rounded-md" src="https://media-exp1.licdn.com/dms/image/C4E03AQHXXrHbSZnCQw/profile-displayphoto-shrink_800_800/0/1606066680212?e=1647475200&v=beta&t=SlZwID8_8VINVSQZ04tPiWdZsJq6_dPtkgkiCcbHayc" alt="">
          </div>
          <div class="flex items-center">
            <div class="ml-3">
              <p class="text-3xl font-bold text-white">
                ЮРИЙ ФЕДОРОВ
              </p>
              <p class="text-1xl font-medium text-indigo-200 group-hover:text-white">
                Frontend-разработчик
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="flex-1 flex flex-col pt-5 pl-10 pb-4 overflow-y-auto">
        <div class="mt-5 flex-1 px-2 space-y-1 text-white">
          SIDEBAR-BIG
        </div>
      </div>
    </div>
  </div>

  <div class="md:pl-96 flex flex-col flex-1">
    <div class="sticky top-0 z-10 md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3 bg-gray-100">
      <button (click)="toggleShow()" type="button" class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
        <span class="sr-only">Open sidebar</span>
        <!-- Heroicon name: outline/menu -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
    <main class="content flex-1" role="main">
      <div class="py-6">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
          <h1 class="text-2xl font-semibold text-gray-900">{{ title }}</h1>
        </div>
        <div class="relative mt-8">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
          </div>
        </div>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
          <!-- Replace with your content -->
          <div class="py-4">
            <div class="h-96">
              <app-work-experience></app-work-experience>
              <app-courses></app-courses>
            </div>
          </div>
          <!-- /End replace -->
        </div>
      </div>
    </main>
  </div>
</div>



