<app-modal></app-modal>

<div class="fixed top-0 left-0 w-1/2 h-full bg-white" aria-hidden="true"></div>
<div class="fixed top-0 right-0 w-1/2 h-full" aria-hidden="true"></div>

<div
  class="relative min-h-screen flex flex-col"
  [ngClass]="isShownContent  ? '' : 'blur-md'"
>

  <!-- 3 column wrapper -->
  <div class="flex-grow w-full max-w-7xl mx-auto xl:px-8 lg:flex">
    <!-- Left sidebar & main wrapper -->
    <div class="flex-1 min-w-0 bg-white xl:flex">
      <div class="border-b border-gray-200 xl:border-b-0 xl:flex-shrink-0 xl:w-64 xl:border-r xl:border-gray-200 bg-white">
        <div class="h-full px-6 sm:pl-6 xl:pl-0">
          <!-- Start left column area -->
          <div class="h-full py-6 relative">
            <app-about></app-about>
            <app-contacts></app-contacts>
            <app-portfolio></app-portfolio>
          </div>
          <!-- End left column area -->
        </div>
      </div>

      <div class="bg-white lg:min-w-0 lg:flex-1">
        <div class="h-full py-6 md:py-12 px-6 sm:px-6">
          <!-- Start main area-->
          <div class="relative h-full">
            <app-summary></app-summary>
            <app-experience></app-experience>
            <app-courses></app-courses>
          </div>
          <!-- End main area -->
        </div>
      </div>
    </div>

    <div class="bg-white pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0">
      <div class="h-full py-6 pl-6 lg:w-80">
        <!-- Start right column area -->
        <div class="relative h-full">
          <app-skills></app-skills>
        </div>
        <!-- End right column area -->
      </div>
    </div>
  </div>
</div>

<!--GitHub: https://github.com/yurifyodorov/yurifyodorov.github.io -->



