<div class="flow-root md:px-6 mb-20">
  <div class="pb-5">
    <h3 class="text-3xl leading-6 font-medium text-gray-900">
      About me
    </h3>
  </div>
  <div>
    <p class="mt-1 text-sm text-gray-600 line-clamp-2">
      I have a testing background and my main area of expertise is quality assurance.
      <br><br>
      In addition to my expertise in QA, I have gained initial experience in developing applications using both
      <a
        class="text-blue-700 font-medium"
        href="https://angular-blog-educational.web.app/">
        Angular
      </a>
      and
      <a
        class="text-blue-700 font-medium"
        href="https://yurifedorov-crwn-clothing.netlify.app/">
        React
      </a>
      frameworks.
    </p>
  </div>

</div>
