<div class="flow-root">
  <h1 class="text-2xl font-bold text-gray-900 truncate">
    Опыт работы
  </h1>
  <ul role="list" class="-mb-8 mt-12">
    <li>
      <div class="relative pb-14">
        <span class="absolute top-5 left-10 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-12">
          <div class="relative">
            <div class="h-20 w-20 rounded-full flex items-center justify-center bg-white">
              <svg viewBox="0 0 54 54">
                <path
                  d="M1 34V18h15.533v16H12.05V21.968H5.483V34H1zm28.773-9.259L22.601 34h-3.983V18h4.483v9.259L30.273 18h3.983v16h-4.483v-9.259zm11.05 2.816V34h-4.482V18h4.483v6.635L46.182 18h5.233l-6.38 7.765L53 34h-6.026l-6.15-6.443z"
                  fill="#FC4C02"
                ></path>
              </svg>
            </div>
          </div>
          <div class="min-w-0 flex-1">
            <div>
              <div class="text-sm">
                <a href="#" class="font-medium text-gray-900">Специалист по тестированию</a>
              </div>
              <p class="mt-0.5 text-sm text-gray-500">
                Май 2021 - по настоящее время
              </p>
            </div>
            <div class="mt-2 text-sm text-gray-700">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc ipsum tempor purus vitae id. Morbi in vestibulum nec varius. Et diam cursus quis sed purus nam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="relative pb-8">
        <div class="relative flex items-start space-x-12">
          <div class="relative">
            <img
              class="h-20 w-20 rounded-full flex items-center justify-center bg-white"
              src="https://nekor.ru/upload/logo.svg"
              alt="">
          </div>
          <div class="min-w-0 flex-1">
            <div>
              <div class="text-sm">
                <span class="font-medium text-gray-900">Инженер-программист</span>
              </div>
              <p class="mt-0.5 text-sm text-gray-500">
                Апрель 2020 — Май 2021
              </p>
            </div>
            <div class="mt-2 text-sm text-gray-700">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc ipsum tempor purus vitae id. Morbi in vestibulum nec varius. Et diam cursus quis sed purus nam. Scelerisque amet elit non sit ut tincidunt condimentum. Nisl ultrices eu venenatis diam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
